body {
    background-image: url("imgs/space.png");
    background-repeat: repeat;
    color: white;
    margin: 0; /* important: remove default browser margin */
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.box {
    background: rgba(13, 23, 67, 0.9);
    width: 100%;
    max-width: 800px;
    padding: 40px;
}
